& {
  padding: 0 16px;
  .input-container {
    width: 100%;
    display: flex;
    align-items: center;
  }
  input {
    height: 44px;
    width: 100%;
    margin-right: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0 12px;
  }
  button {
    height: 44px;
    color:#fff;
    border:none;
    background:#F15D22;
    height: 44px;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
    cursor: pointer;
  }
  .messages {
    padding: 16px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-top: 16px;
    height: 360px;
    overflow-y: scroll;
  }
  .defaults {
    margin-bottom: 8px;
  }
}
